@font-face{
 font-family:'digital-clock-font';
 src: url('https://fonts.googleapis.com/css?family=Orbitron');
}

body {
  background-color: #7c887e;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  color: #d3d2cd;
  font-size: 80px;
  text-align: center;
  padding: 10px;
  border-color: #252b1f;
  border-style: outset;
  width: 50%;
}
